# Kesari AI — Environment Variables
# Get your API key from https://openrouter.ai/keys
OPENROUTER_API_KEY=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

# Get your API key from https://dashboard.sarvam.ai/
SARVAM_API_KEY=sk_4v4mhmsp_wUA4ApqffqRckCkJxQK3434h

# Default LLM model (see https://openrouter.ai/models)
DEFAULT_MODEL=openai/gpt-4o
