# Kesari AI — Environment Variables
# Get your NVIDIA API key from https://build.nvidia.com/explore/llm
NVIDIA_API_KEY=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
# Get your API key from https://dashboard.sarvam.ai/
SARVAM_API_KEY=OPENROUTER_API_KEY=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


# Default LLM model (NVIDIA NIM models)
# Options: meta/llama-3.3-70b-instruct, meta/llama-3.2-90b-vision-instruct, nvidia/nemotron-4-340b-instruct
DEFAULT_MODEL=meta/llama-3.3-70b-instruct